// out: styles.css

@import url('https://fonts.googleapis.com/css?family=Archivo+Black|Cabin|Fira+Sans');

/* ===== == = === Base LESS Styles === = == ===== */

.div-bars {
    width: 100%;
    height: 10px;
}

.full-width {
    width: 100%;
}

.white-text {
    color: white;
}

.center-text {
    text-align: center;
}

.auto-margin {
    margin-left: auto; 
    margin-right: auto;
}

.horiz-padding-4 {
    padding-left: 4% !important;
    padding-right: 4% !important;
}


@pink: #B07995;
@pale-pink: #be97ac;
@lightest-purple: #996f9d;
@light-purple: #745577;
@darker-purple: #5d3c4e;
@darkest-purple: #482D3C;
@light-green: #DED400;

/* ===== == = === Base CSS Styles === = == ===== */

body {
    font-size: 1em;
    padding-top: 50px;
    margin-bottom: 60px;
    background-image: url("images/nifty-map.png");
}

.ContactFeatured li {
    list-style: none;
}

.formColor {
    color: black;
}

#copyrightFull {
    font-size: 1.2em;
    color: @pink;
    .center-text;
}


.Featured {
    display: inline-block;
    .full-width;
    .horiz-padding-4;
    padding-top: 3%;
    padding-bottom: 3%;
}

.Featured li {
    list-style-image: url(images/compass-bullet.png);
    text-align: left !important;
    font-size: 1.2em;
}

#contactinfo p img {
    width: 20px !important;
}

#contactMOBILE input, #contactMOBILE textarea {
    margin-bottom: 3%;
}

.Featured ul {
    line-height: 2em;
}

.flexslider {
    background: none !important;
    border: 0px !important;
}

.flex-prev {
    left: 20px !important;
}

.flex-next {
    right: 20px !important;
}

.flex-nav-prev, .flex-nav-next {
    list-style: none !important;
}

.flex-direction-nav a {
    width: 40px !important;
    height: 40px !important;
    margin-left: -35px !important;
    margin-right: -40px !important;
    padding-top: 5px !important;
}

#phone em {
    color: @pink !important;
}

main a {
    font-size: 1.2em;
}

#slideshow a:hover {
    color: @darkest-purple;
}

.row.match-my-cols {
    overflow: hidden;
}

.row.match-my-cols [class*="col-"]{
    margin-bottom: -99999px;
    padding-bottom: 99999px;
}

.Featured h1 {
    font-size: 3em;
    font-family: 'Archivo Black', sans-serif;
}

.Featured h2 {
    font-size: 2.3em;
}

.Featured h2, .Featured h3 {
    color: @darkest-purple;
}

.Featured p {
    font-size: 1.6em
}

.FirstLink {
    background-color: @darkest-purple;
}

footer {
    background-color: @light-purple;
    .white-text;
    position: absolute;
    .full-width;
}

footer p a {
    text-decoration: none;
    .white-text;
}

#footercontainer {
    padding-top: 1%;
}

h2 {
    font-size: 2em;
}

html {
  position: relative;
  min-height: 100%;
}

.icon-bar {
    background-color: white;
}

main {
    .center-text;
    font-family: 'Fira Sans', sans-serif;

}

main a {
    font-weight: bold;
    color: @pink;
}

.navbar {
    background-color: @light-purple;
}

.navbar-brand p {
    color: @light-green;
    font-size: 2em;
    font-family: 'Archivo Black', sans-serif;
    text-shadow: white 2px 2px;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #797305;
}

.navbar li {
    .center-text;
    font-family: 'Fira Sans', sans-serif;
    font-size: 1.3em;

}

.navbar li a {
    font-weight: 600;
    text-decoration: none;
}

.nav li a:hover {
    background-color: @lightest-purple !important;
    .white-text !important;
}

.nav li a:focus {
    color: @darkest-purple !important;
}

#phone {
    padding-left: 2%
}

#currency-converter {
    width: 60%;
    .auto-margin;
}

#currency-converter input {
    margin-left: 3%;
    color: black;
}

#currency-converter {
    color: @pink;
    font-weight: 700;
}

#currency-converter td {
    padding-bottom: 7%;
}

.RelatedLinks {
    .horiz-padding-4;
}

.RelatedLinks h2, .RelatedLinks h2 a, footer h1 {
    text-transform: uppercase;
    font-family: 'Archivo Black', sans-serif;
    color: @light-green;
    .center-text
}

input, textarea, select {
    margin-bottom: 5%;
}

footer h1 {
    font-size: 2.3em;
}

footer h2 {
    font-size: 1.7em;
}

.RelatedLinks h2, .RelatedLinks h2 a {
    padding-top: 2%;
}

.RelatedLinks h3 {
    color: @pink;
    font-size: 2em;
}

.RelatedLinks table {
    .auto-margin;
}

.RelatedLinks p, .RelatedLinks label {
    color: @pale-pink;
    font-size: 1.3em;
}

.rslides {
  position: relative;
  list-style: none;
  overflow: hidden;
  width: 100%;
  padding: 0;
  margin: 0;
  }

.rslides li {
  -webkit-backface-visibility: hidden;
  position: absolute;
  display: none;
  width: 100%;
  left: 0;
  top: 0;
  }

.rslides li:first-child {
  position: relative;
  display: block;
  float: left;
  }

.rslides img {
  display: block;
  height: auto;
  float: left;
  width: 100%;
  border: 0;
  }

.row {
    margin-right: 0 !important;
    margin-left: 0 !important;
}

#DayTable {
    padding-left: 2%;
    padding-right: 2%;
}

.RelatedLinks th, .RelatedLinks td {
    .center-text !important;
    .white-text;
} 

.RelatedLinks em {
    .white-text;
    font-size: .8em;
}

#SMFeed, #SMHEADER {
    .center-text !important;
}

.SecondLink {
    background-color: @darker-purple;
}

.ThirdLink {
    background-color: @darkest-purple;
}

.topupperbar {
	background-color: @light-green;
	.div-bars;
    margin-top: 3px;
}

.top-level-link {
    .white-text;
}

.toplowerbar {
	background-color: @light-purple;
	height: 10px;
	.div-bars;
}

/* ===== == = === Mobile Phone Only === = == ===== */

/* Replaces Social Media (SM) Feed with SM Link Icons */
@media (max-width: 720px) {
    
    main, footer {
        font-size: 80% !important;
    }
    
    .emFULL {
        display: none;
    }
    
    .Featured ul {
        width: 80%;
        .auto-margin;
    }
    
    #copyrightMobile {
        padding-top: .5%;
        font-size: 1.2em;
        margin-bottom: 0px;
        .white-text !important;
    }
    
    .navbar li {
        font-size: 2em;
    }
    
    #navbar li a, #phone {
        .white-text
    }
    
    .Featured img {
        width: 90%;
    }
    
    #map img {
        width: 300px;
        height: 300px;
    }
    
    #SMicons {
        padding-top: .5%;
    }
    
    .FirstLink h2 {
        margin-top: 0;
    }
    
    .RelatedLinks {
        padding-left: 7% !important;
        padding-right: 7% !important;
    }
    
    textarea {
        margin-left: 3% !important;
    }
}

/* ===== == = === Tablet === = == ===== */

@media (min-width: 720px) and (max-width: 991px) {
    .Featured {
        padding-left: 6%;
        padding-right: 6%;
    }

/* Replaces Social Media (SM) Link Icons with SM Feed */
    
    #phone, .emFULL {
        display: none;
    }
    
    .navbar li {
        font-size: 1.2em;
    }
    
    #currency-converter {
        width: 40%;
    }

    .Featured ul {
        width: 60%;
        .auto-margin;
    }
    
    .RelatedLinks h2 {
        font-size: 2em;
    }
    
    .RelatedLinks h3 {
        font-size: 1.8em;
    }
    
    .RelatedLinks p {
        padding-left: 4%;
    }
    
    .FirstLink h2 {
        margin-top: 0;
    }
}
/* ===== == = === Desk Top === = == ===== */

@media (min-width: 992px) {
    .Featured {
        padding-left: 10%;
        padding-right: 10%;
    }
    
    .RelatedLinks {
        background-color: @darkest-purple;
        padding-bottom: 60px;
    }
    
    .feature-photo img {
        width: 100%;
    }
    
    #phone {
        display: none;
    }
    
    footer h2 {
        .center-text;
        font-family: 'Fira Sans', sans-serif;
    }
    
    .RelatedLinks h2 {
        font-size: 2.3em;
    }
    
    .RelatedLinks h3 {
        font-size: 1.5em;
    }
    
/* Replaces Social Media (SM) Link Icons with SM Feed */
    #SMicons, #copyrightMobile {
        display: none;
    }
}